@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #f9f7f4;
}

body {
  margin: 0;
  background: #f9f7f4;
  color: #1c1917;
}

.vf-scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.vf-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
